<nav  class="flex left-0 z-10  bg-shade2 fixed w-[100vw] text-shade5 gap-4 pr-6 pl-8 sm:pl-32 sm:pr-36 md:pl-44 md:pr-48 py-6 justify-between items-center">
    <!-- Your navbar content here -->
    <a href="{% url 'home' %}" class="logo-container">
        <img class="invert" style="height: 30px;" src="https://cdn-icons-png.flaticon.com/128/4094/4094724.png" alt="logo">
        <h2 class="text-shade5">inFifteen</h2>
    </a>
    <ul class="nav-list">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'contribute' %}">Contribute</a></li>
       
        {% if user.is_authenticated %}
            <li>
               <a href="{% url 'dashboard' %}">Dashboard</a> 
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">Sign In</a></li>
        {% endif %}
    </ul>
</nav>
<div class="central-loader-cont ">
    <div class="central-loader loader" >
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
    </div>    
</div>

<script src="../staticfiles/js/submitting.js"></script>