{% extends 'base.html' %}

{% block title %}Home | My Website{% endblock %}

{% block content %}
<div class="">
    <div class="flex items-center justify-center">
        <div class="wobble"></div>
        <p class="hero-text">How many questions can you answer</p>
    </div>
    <h1 class="hero-text1">IN FIFTEEN  </h1>
    <p class="hero-text1" style="font-style: italic; font-weight: 500; margin-bottom: 50px; opacity: 0.7;">minutes?</p>
    <img class="w-screen" src="https://images.unsplash.com/photo-1415604934674-561df9abf539?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHRpbWV8ZW58MHx8MHx8fDA%3D" alt="" srcset="">
    
    <p class="hero-text2">There are currently<span>{{categories}}&nbsp;categories</span>of programming language/framework to choose from </p>
</div>
    
    <div class="category-container">
        <!-- <pre>
            {{category|pprint}}
        </pre> -->
        {% for key,value in category.items %}
            {% if key %}
                <div class="relative single-category-container"> 
                    <p class="category bg-shade5 pb-6 pr-6">{{key}}</p>
                    <div class="right-col ">
                        
                        <div class="container">
                            <div class="sugar-box"></div>
                            <div class="sugar-box"></div>
                            <div class="sugar-box"></div>
                            <div class="sugar-box"></div>
                            <div class="sugar-box"></div>
                            <div class="sugar-box"></div>
                                          
                        </div>
                        <p>0{{ forloop.counter}}</p>
                        <a class="take-quiz" href= "/quiz/{{key|lower}}" class="take-quiz">Take Quiz</a>
                    </div>
                </div>
            {% endif %}
          {% endfor %}
    <script>
        sessionStorage.setItem('page',0)
    </script>
    <script type="module" src="../../staticfiles/js/submitting.js"></script>      
    </div>


    
    
{% endblock %}
