<!-- templates/users/signup.html -->
{% extends 'base.html' %}   
{% load static %}

{% block title %} Signup {% endblock %}
{% block content %}
<section class="bg-shade5 md:w-2/3 md:mx-auto">
        
    <h2 class="text-3xl font-semibold mt-16">Login</h2>
    <form method="post" action="{% url 'login' %}" class="*:flex *:flex-col *:gap-1 *:mb-4 ">
        <p class="already inline">Dont Have an Account?<a class="underline" href="{% url 'signup' %}">Sign Up</a> </p>
        {% csrf_token %}
            <div class="mt-6">
                <label for="{{ form.email.id_for_label }}">Email</label>
                <input 
                    type="email" 
                    name="{{ form.email.name }}" 
                    id="{{ form.email.id_for_label }}" 
                    class="form-control"
                    value="" 
                    placeholder="Enter your email">
                    
                    <p class="error-line">{{ form.email.errors }}</p>
            </div>
            <div>
                <label  for="{{ form.password1.id_for_label }}">Password</label>
                <input 
                    type="password" 
                    name="{{ form.password1.name }}" 
                    id="{{ form.password1.id_for_label }}" 
                    class="form-control" 
                    value="loperamide"
                    placeholder="Enter your password">

                    <p class="error-line"> {{ form.password1.errors }}</p>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
               <!-- Include the reusable form errors template -->
                {% include 'includes/form_errors.html' with form=form %}               
        <button class="bg-shade2 w-full py-3 font-semibold text-center flex justify-center items-center mt-4 text-shade5 " type="submit">Login</button>
    </form>
</section>

{% endblock %}    
