<!-- templates/users/signup.html -->
{% extends 'base.html' %}   
{% load static %}

{% block title %} Contribute {% endblock %}
{% block content %}
<section class="bg-shade5">
    <div class="text-shade2">
        <h1 class="text-xl font-bold " >Hello, {{name}}.</h1>
        <p class="text-shade4">Add a question and at least two options.</p>
        <p class="text-shade4">Select the option you think best answer the question.</p>
    </div>
        
    <h2 class="text-3xl font-semibold mt-16">Add Question</h2>
    <form  method="post" action="{% url 'contribute' %}" class="question-form *:flex *:flex-col *:gap-1 *:mb-4 ">
        <!-- <p class="already inline">Perform a tertiary call to?<span class="underline" href="{ url 'signup' }">Action</span> </p> -->
        
        {% csrf_token %}
            
            <label for="basic-dropdown">Choose a category</label>
            <select
            name="{{ form.category.name }}"
            id="basic-dropdown">
                {% for category in categories %}
                    <option value={{category}}>{{category}}</option>
                {% endfor %}
            </select>
            <div style="display: none;" class="instruct">
                    <p></p>
            </div>
            {% include 'includes/question_form.html' %}
            <!-- Include the reusable form errors template -->
             {% include 'includes/form_errors.html' with form=form %}               
    
    </form>
    <script src="/staticfiles/js/contribute.js"></script>
    <script type="module" src="/staticfiles/js/submitting.js"></script>
</section>
    
</section>

{% endblock %}    
